.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8); 
    z-index: 9999;
    color: black;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    // blur popup fit with safari
    // use @support to fix something browser 

    &__content {
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        @include centerItem; // absCenter
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.4s 0.2s;
    }

    &__left {
        width: 33.3333333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count:  2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -mox-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    // Open states
    &:target { 
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link, 
        &:visited {
            color: $color-grey-dark-3;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
            line-height: 1;
        }
        opacity: 1;
        visibility: visible;

        &:hover {
            color: $color-primary;
        }
    }
}